<% content_for :head do %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#pagesList').sortable({ items: '.list_item', axis: 'y', update: function(){
				$.post('/admin/pages/sort', '_method=put&authenticity_token='+ AUTH_TOKEN + '&' +$(this).sortable('serialize'));
			}});
		});
	</script>
<% end%>

<% content_for :current do %>
	<%= image_tag "admin/page.png" %>
	<p>Pages</p>
<% end %>

<% content_for :action do %>
	<a href="<%= new_admin_page_url %>">
		<%= image_tag "admin/newpage.png" %>
		<p>New</p>
	</a>
<% end %>

<% content_for :information do %>
	<p>
		This page contains a list of all the Content pages you've created.
	</p>
<% end %>
<h3>All Pages</h3>
<ul id="pagesList" class="page_list">
<% @pages.each do |page| %>
  <li class="list_item" id="page_<%= page.id -%>">
    <%=h page.menu %>
   <%=h page.slug %>
    <%= link_to 'Show', admin_page_path(page) %>
    <%= link_to 'Edit', edit_admin_page_path(page) %>
   <%= link_to 'Destroy', admin_page_path(page), :confirm => 'Are you sure?', :method => :delete %>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New page', new_admin_page_path %>