<p>
  <b>Name:</b>
  <%=h @asset.name %>
</p>
<p>
  <b>Description:</b>
  <%=h @asset.description %>
</p>

<p>
	<%= image_tag @asset.file.url(:medium) %>
</p>


<%= link_to 'Edit', edit_admin_asset_path(@asset) %> |
<%= link_to 'Back', admin_assets_path %>