<h1>Editing offender</h1>

<% form_for @offender, :url => admin_offender_url(@offender) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :tid %><br />
    <%= f.text_field :tid %>
  </p>
  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :middle %><br />
    <%= f.text_field :middle %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :target %><br />
    <%= f.text_field :target %>
  </p>
	<p>
	  <%= f.label :absconded %>:
	  <%= f.check_box :absconded %>
	</p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_offender_path(@offender) %> |
<%= link_to 'Back', admin_offenders_path %>