<h1>Editing wanted</h1>

<% form_for @wanted, :url => admin_wanted_path(@wanted), :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :alias %><br />
    <%= f.text_field :alias %>
  </p>
  <p>
    <%= f.label :race %><br />
    <%= f.text_field :race %>
  </p>
  <p>
    <%= f.label :sex %><br />
    <%= f.text_field :sex %>
  </p>
  <p>
    <%= f.label :eyes %><br />
    <%= f.text_field :eyes %>
  </p>
  <p>
    <%= f.label :hair %><br />
    <%= f.text_field :hair %>
  </p>
  <p>
    <%= f.label :height %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </p>
  <p>
    <%= f.label :other %><br />
    <%= f.text_field :other %>
  </p>
  <p>
    <%= f.label :marks %><br />
    <%= f.text_field :marks %>
  </p>
  <p>
    <%= f.label :charges %><br />
    <%= f.text_field :charges %>
  </p>
	<p>
		<%= f.label :mug %><br />
		<%= f.file_field :mug %>
	</p>
	<p>
    <%= f.label :apprehended %>:
    <%= f.check_box :apprehended %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', admin_wanted_path(@wanted) %> |
<%= link_to 'Back', admin_wanteds_path %>