<% content_for :head do %>
	<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#wantedsList').sortable({ items: '.list_item', axis: 'y', update: function(){
				$.post('/admin/wanteds/sort', '_method=put&authenticity_token='+ AUTH_TOKEN + '&' +$(this).sortable('serialize'));
			}});
		});
	</script>
<% end%>
<h1>Listing wanteds</h1>
<ul id="wantedsList" class="page_list">
<% @wanteds.each do |wanted| %>
  <li class="list_item" id="wanted_<%= wanted.id -%>">
   <%=h wanted.lastname %>
   <%=h wanted.firstname %>
   <%= link_to 'Show', admin_wanted_path(wanted) %>
   <%= link_to 'Edit', edit_admin_wanted_path(wanted) %>
   <%= link_to 'Destroy', admin_wanted_path(wanted), :confirm => 'Are you sure?', :method => :delete %>
</li>
<% end %>
</ul>
<br />

<%= link_to 'New wanted', new_admin_wanted_path %>