<h3>Sex Offenders</h3>
<table>
  <tr>
    <th>Tid</th>
		<th>Image</th>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Middle</th>
    <th>Address</th>
    <th>City</th>
  </tr>

<% @offenders.each do |offender| %>
  <tr>
    <td><%=h offender.tid %></td>
    <td><%=image_tag offender.image.url(:thumb) %>
		<td><%=h offender.lastname %></td>
    <td><%=h offender.firstname %></td>
    <td><%=h offender.middle %></td>
    <td><%=h offender.address %></td>
    <td><%=h offender.city %></td>
  </tr>
<% end %>
</table>