<h1 class="mostwanted">Marion County Sex Offender Registry</h1>
<h3 class="mostwanted">
	For question or concerns regarding the Sex Offender Registry program, please contact Chief Detective Gene Hargis at <a href="mailto:genehargis@marioncosheriff.com">genehargis@marioncosheriff.com</a>
</h3>
<hr/>
<table>
  <tr>
    <th>TID</th>
		<th>Image</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Middle</th>
    <th>Address</th>
    <th>City</th>
  </tr>

<% @offenders.each do |offender| %>
  <tr>
    <td><%=h offender.tid %></td>
    <td class="offenderimage">
				<% if offender.absconded %>
					<%= image_tag "wantedoverlaysmall.png", :class => "wanted_overlay" %>
				<% end %>
				<%=image_tag offender.image.url(:thumb) %>
		</td>
		<td><%=h offender.lastname.titleize %></td>
    <td><%=h offender.firstname.titleize %></td>
    <td><%=h offender.middle.titleize %></td>
    <td><%=h offender.address.titleize %></td>
    <td><%=h offender.city.titleize %></td>
  </tr>
<% end %>
</table>