<h3>Sex Offenders</h3>
<table>
  <tr>
    <th>TID</th>
		<th>Image</th>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Middle</th>
    <th>Address</th>
    <th>City</th>
  </tr>

<% @offenders.each do |offender| %>
  <tr>
    <td><%=h offender.tid %></td>
    <td class="offenderimage">
				<% if offender.absconded %>
					<%= image_tag "missingoverlaysmall.png", :class => "wanted_overlay" %>
				<% end %>
				<%=image_tag offender.image.url(:thumb) %>
		</td>
		<td><%=h offender.lastname.titleize %></td>
    <td><%=h offender.firstname.titleize %></td>
    <td><%=h offender.middle.titleize %></td>
    <td><%=h offender.address.titleize %></td>
    <td><%=h offender.city.titleize %></td>
  </tr>
<% end %>
</table>