<div class="homecontent">
	<h1>Welcome!</h1>
	<p>On behalf of the Marion County Sheriff's Department, I welcome you to our Department's home page on the World Wide Web. We are excited to be able to present our agency via the Internet to the members of the community as well as visitors from around the world.</p>

	<p>
		The men and women of the Marion County Sheriff's Department are committed in making our community the safest place to live and work. We accomplish this by forming partnerships with our citizens and businesses.  Although enforcement of the law is an important tool in providing public safety services to Marion County, we believe it is essential that we have an organizational philosophy which emphasizes the prevention of crime.  This includes solving problems which breed crime and generally detract from the quality of life in our community.
	</p>	
	
	<p>
		I hope your visit to our site proves enjoyable and informative. If you have any questions or comments, please feel free to contact us at (423) 942-2525 or (423) 942-5667
	<p>
	<p>
		<strong>Ronnie "Bo" Burnett</strong><br/>
		Sheriff of Marion County
	</p>
</div>

<div class="homeblock sheriff">
	<p>
	<%= image_tag "http://marioncosheriff.com/system/files/41/cover/SHERIFF_RONNIE_BURNETT.JPG?1266209684" %>
	</p>
	<p>
		Sheriff Ronnie Burnett
	</p>
</div>
<div class="homebottom">
	<div class="homeblock newsposts">
		<h5>Recent News Posts</h5>
		<% for post in Post.all(:limit => 5, :order => "created_at DESC")%>
			<p><%= link_to post.title, post %> on <%= post.created_at.to_s(:short) %></p>
		<% end %>
	</div>
	<div class="homeblock ghso">
		<h5>Governor's Highway Safety Office</h5>	
		<a href="http://www.tdot.state.tn.us/ghso/booze_lose.htm"><%= image_tag "bili.gif" %></a>
		<a href="http://www.tdot.state.tn.us/ClickItorTicket/default.htm"><%= image_tag "clickit07.gif" %></a>
	</div>
</div>
