<% content_for :current do %>
	<%= image_tag "admin/posts.png" %>
	<p>Posts</p>
<% end %>

<% content_for :action do %>
	<a href="<%= new_admin_post_url %>">
		<%= image_tag "admin/newpage.png" %>
		<p>New</p>
	</a>
<% end %>

<% content_for :information do %>
	<p>
		This page contains a list of all the news posts you've created.
	</p>
<% end %>
<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Slug</th>
    <th>Excerpt</th>
    <th>Body</th>
    <th>Published</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.title %></td>
    <td><%=h post.slug %></td>
    <td><%=h post.excerpt %></td>
    <td><%=h post.body %></td>
    <td><%=h post.published %></td>
    <td><%= link_to 'Show', admin_post_path(post) %></td>
    <td><%= link_to 'Edit', edit_admin_post_path(post) %></td>
    <td><%= link_to 'Destroy', admin_post_path(post), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_admin_post_path %>