<% content_for :head do %>
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/javascripts/editor.js"></script>
<% end %>
<% content_for :current do %>
	<%= image_tag "admin/newpage.png" %>
	<p>New</p>
<% end %>

<% content_for :action do %>
	<a href="<%= admin_posts_url %>">
		<%= image_tag "admin/posts.png" %>
		<p>Posts</p>
	</a>
<% end %>

<% content_for :information do %>
	<p>
	Use this page to create a news post.
	</p>
<% end %>
<h1>New post</h1>

<% form_for @post, :url => admin_posts_url do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :excerpt %><br />
    <%= f.text_area :excerpt, :id => "excerpt" %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body, :id=> 'body'%>
  </p>
  <p>
    <%= f.label :published %>:
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.label :slug %>:
    <%= f.text_field :slug %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', admin_posts_path %>