<% content_for :current do %>
	<%= image_tag "admin/newuser.png" %>
	<p>Edit</p>
<% end %>

<% content_for :action do %>
	<a href="<%= admin_users_url %>">
		<%= image_tag "admin/user.png" %>
		<p>Users</p>
	</a>
<% end %>

<% content_for :information do %>
	<p>
		Use this page to edit an existing user.
	</p>
<% end %>
<h3>Edit a user</h3>
<% form_for @user, :url => admin_user_path(@user) do |f| %>
	<p>
		<%= f.label :username, "Username" %><br/>
		<%= f.text_field :username %>
	</p>
	<p>
		<%= f.label :fullname, "Real Name" %><br/>
		<%= f.text_field :fullname %>
	</p>
	<p>
		<%= f.label :email, "Email" %><br/>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :password, "Password" %><br/>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :password_confirmation, "Password Confirmation" %><br/>
		<%= f.password_field :password_confirmation %>
	</p>
	<p>
		<%= f.label :roles %>
		<% for role in User.allroles %>
			<%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
			<%=h role.to_s.humanize %>
		<% end %>
		<%= hidden_field_tag "user[roles][]"%>
	</p>
	<%= f.submit "Edit User"%>
<% end %>
<p>
	<%= link_to "Back", admin_users_path %>
</p>