<% content_for :head do %>
	<script type="text/javascript" src="/javascripts/jquery.lightbox-0.5.js"></script>
	<link rel="stylesheet" href="/stylesheets/jquery.lightbox-0.5.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript">
	$(function() {
		$('a.lightbox').lightBox(); // Select all links with lightbox class
	});
	</script>
<% end %>

<h1 class="mostwanted">Marion County's Most Wanted</h1>

<div class="mugshots">
	<% @wanteds.each do|wanted| %>
		<a href="#<%= wanted.id %>"<%= image_tag wanted.mug.url(:small) %></a>
	<% end %>
</div>
<hr/>
<h3 class="mostwanted">
	If you have information that can lead to the apprehension of these suspects, contact us immediately
	at (423) 942-2525.
</h3>
<hr/>
<% @wanteds.each do |wanted| %>
  <div class="wanteditem">
		<%= link_to image_tag(wanted.mug.url(:thumb)), wanted.mug.url, :class => "lightbox", :title=> wanted.lastname  %>
		<h4><a name="<%= wanted.id %>"><%=h wanted.firstname.titleize %> <%=h wanted.lastname.titleize %></a></h4>
		<p><%=h wanted.charges %></p>
	</div>
	<hr/>
<% end %>
