<h1>Marion County Most Wanted</h1>

<% @wanteds.each do |wanted| %>
  <div class="wanted">
		<p><%= image_tag wanted.mug.url(:thumb)  %></p>
		<p><%=h wanted.firstname.capitalize %> <%=h wanted.lastname.capitalize %></p>
		<p><%=h wanted.alias %></p>
		<p><%=h wanted.race %> | <%=h wanted.sex %> | <%=h wanted.eyes %></p>
		<p><%=h wanted.hair %> | <%=h wanted.height %> | <%=h wanted.weight %></p>
    <p><%=h wanted.marks %></p>
		<p><%=h wanted.charges %></p>
		<p><%=h wanted.other %></p>
		<p><%= link_to 'Show', wanted %></p>
	</div>
<% end %>
