<h1>Listing wanteds</h1>

<table>
  <tr>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Alias</th>
    <th>Race</th>
    <th>Sex</th>
    <th>Eyes</th>
    <th>Hair</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Other</th>
    <th>Marks</th>
    <th>Charges</th>
  </tr>

<% @wanteds.each do |wanted| %>
  <tr>
    <td><%=h wanted.lastname %></td>
    <td><%=h wanted.firstname %></td>
    <td><%=h wanted.alias %></td>
    <td><%=h wanted.race %></td>
    <td><%=h wanted.sex %></td>
    <td><%=h wanted.eyes %></td>
    <td><%=h wanted.hair %></td>
    <td><%=h wanted.height %></td>
    <td><%=h wanted.weight %></td>
    <td><%=h wanted.other %></td>
    <td><%=h wanted.marks %></td>
    <td><%=h wanted.charges %></td>
    <td><%= link_to 'Show', wanted %></td>
    <td><%= link_to 'Edit', edit_wanted_path(wanted) %></td>
    <td><%= link_to 'Destroy', wanted, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New wanted', new_wanted_path %>