<p>
  <b>Lastname:</b>
  <%=h @wanted.lastname %>
</p>

<p>
  <b>Firstname:</b>
  <%=h @wanted.firstname %>
</p>

<p>
  <b>Alias:</b>
  <%=h @wanted.alias %>
</p>

<p>
  <b>Race:</b>
  <%=h @wanted.race %>
</p>

<p>
  <b>Sex:</b>
  <%=h @wanted.sex %>
</p>

<p>
  <b>Eyes:</b>
  <%=h @wanted.eyes %>
</p>

<p>
  <b>Hair:</b>
  <%=h @wanted.hair %>
</p>

<p>
  <b>Height:</b>
  <%=h @wanted.height %>
</p>

<p>
  <b>Weight:</b>
  <%=h @wanted.weight %>
</p>

<p>
  <b>Other:</b>
  <%=h @wanted.other %>
</p>

<p>
  <b>Marks:</b>
  <%=h @wanted.marks %>
</p>

<p>
  <b>Charges:</b>
  <%=h @wanted.charges %>
</p>


<%= link_to 'Edit', edit_wanted_path(@wanted) %> |
<%= link_to 'Back', wanteds_path %>